.blog{
    .banner{
        width: 100%;
        height: 500px;
        background: url('../img/background_blog.jpg') center center;
        color: $white;
        .container{
            padding-top: 100px;
            .title{
                display: flex;
                flex-direction: row;
                margin-bottom: 12px;
                img{
                    width: 18px;
                    height: auto;
                    margin-right: 8px;
                }
            }
            h1{
                max-width: 470px;
                margin-bottom: 10px;
            }
            p{
                max-width: 346px;
                margin-bottom: 16px;
            }
        }
        @media (max-width: 576px){
            width: 100%;
            height: auto;
            text-align: center;
            padding-bottom: 150px;
            .container{
                display: flex;
                flex-direction: column;
                align-items: center;
                h1, p{
                    max-width: 100%;
                }
            }
        }
    }

    .search{
        margin: -48px auto 0;
        max-width: 1216px;
        height: 87px;
        background-color: $white;
        box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.08);
        border-radius: 10px;
        display: flex;
        align-items: center;
        .container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 60px;
            ul{
                width: 100%;
                padding-right: 70px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                li{
                    a{
                        &:hover{
                            cursor: pointer;
                            color: $orange;
                        }
                    }
                }
            }
            form{
                display: flex;
                flex-direction: row;
                padding-left: 70px;
                border-left: 1px solid #D2D2D2;
                input{
                    width: 120px;
                }
                input::placeholder{
                    font-family: 'Inter';
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 22px;
                }
                button{
                    width: 32px;
                    height: 32px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    background: rgba(246, 93, 37, 0.2);
                    .icon{
                        color: $orange;
                    }
                }
            }
        }
        @media (max-width: 991px){
            height: auto;
            .container{
                padding: 30px 20px;
                ul{
                    padding-right: 20px;
                    flex-wrap: wrap;
                    li{
                        margin-right: 20px;
                    }
                }
            }
        }
        @media (max-width: 576px){
            height: auto;
            text-align: center;
            .container{
                display: flex;
                flex-direction: column;
                padding: 30px 0;
                ul{
                    display: flex;
                    flex-direction: column;
                    li{
                        margin-right: 0px;
                        &:not(:first-child){
                            margin-top: 15px;
                        }
                    }
                }
                form{
                    margin-top: 20px;
                    border-left: 0;
                    padding-left: 0px;
                }
            }
        }
    }

    .mostSeen{
        padding-top: 60px;
        .container{
            display: flex;
            justify-content: space-between;
            padding-bottom: 30px;
            border-bottom: 1px solid #DBDBDB;
            .right-content{
                margin-left: 32px;
                .card-post-xs{
                    margin-bottom: 24px;
                }
            }
        }
        @media (max-width: 991px){
            .container{
                flex-direction: column;
                .card-post-lg{
                    max-width: 100%;
                }
                .right-content{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 15px;
                    margin: 20px 0 0 0;
                }
            }
        }
        @media (max-width: 576px){
            .container{
                flex-direction: column;
                padding-bottom: 0;
                .right-content{
                    display: flex;
                    flex-direction: column;
                    margin-top: 20px;
                }
            }
        }
    }

    .latest{
        padding-top: 30px;
        .container{
            display: flex;
            justify-content: space-between;
        }
        @media (max-width: 1250px){
            .container{
                display: flex;
                flex-direction: column;
            }
        }
        @media (max-width: 576px){
            .container{
                display: flex;
                flex-direction: column;
            }
        }
    }
}

.single{
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 50px;
        .share{
            max-width: 72px;
            ul{
                li{
                    height: 40px;
                    width: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid rgba(246, 93, 37, 0.2);
                    border-radius: 50%;
                    i{
                        color: $orange;
                    }
                    &:not(:first-child){
                        margin-top: 10px;
                    }
                }
            }
        }
        .content{
            max-width: 800px;
            .image{
                width: 100%;
                height: 320px;
                
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 13px;
                    object-fit: cover;
                }
            }
            .text-content{
                margin-top: 25px;
                padding-bottom: 15px;
                h4{
                    margin-top: 5px;
                }
                .info{
                    margin-top: 8px;
                    padding-bottom: 8px;
                    border-bottom: 1px solid #C8C8C8;
                    ul{
                        display: flex;
                        flex-direction: row;
                        li{
                            i{
                                margin-right: 10px;
                            }
                            span{
                                font-weight: 700;
                            }
                            &:not(:first-child){
                                border-left: 1px solid #E3E3E3;
                                margin-left: 16px;
                                padding-left: 16px;
                            }
                        }
                    }
                }
            }
            .description{
                margin-top: 30px;
                .font, .category{
                    .tag{
                        font-family: 'Inter';
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 26px;
                        display: inline-block;
                        padding: 4px 20px;
                        background-color: #F7F7F9;
                        border-radius: 15px;
                        margin-top: 12px;
                    }
                }
                .category{
                    margin-top: 15px;
                }
            }
            .author{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: row;
                margin-top: 30px;
                padding: 30px 0 20px 0;
                border-top: 1px solid #DBDBDB;
                .perfil{
                    margin-right: 35px;
                    img{
                        width: 200px;
                        height: auto;
                        border-radius: 50%;
                    }
                }
                .text{
                    h4{
                        color: $orange;
                    }
                    .tag{
                        font-family: 'Inter';
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 22px;
                        padding: 5px 15px;
                        background-color: #F7F7F9;
                        color: #6F7385;
                        display: inline-block;
                        margin: 8px 0;
                    }
                    .social{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-top: 15px;
                        ul{
                            display: flex;
                            flex-direction: row;
                            li{
                                width: 40px;
                                height: 40px;
                                background-color: #F7F7F9;
                                font-size: 18px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                i{
                                    color: #6F7385;
                                    &:hover{
                                        color: $orange;
                                    }
                                }
                                &:not(:first-child){
                                    margin-left: 15px;
                                }
                            }
                        }
                        p{
                            margin-left: 25px;
                            display: flex;
                            align-items: center;
                            color: #6F7385;
                            i{
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }
        .free-content{
            max-width: 280px;
        }
    }
    @media (max-width: 1250px){
        .container{
            display: flex;
            flex-direction: column;
            .share{
                display: none;
            }
            .content{
                max-width: 100%;
                .author{
                    .perfil{
                        display: block;
                    }
                }
            }
            .free-content{
                max-width: 100%;
            }
        }
    }
    @media (max-width: 576px){
        .container{
            display: flex;
            flex-direction: column;
            text-align: center;
            .content{
                .image{
                    width: 100%;
                    height: auto;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
                .text-content{
                    .info{
                        ul{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            flex-wrap: wrap;
                            li{
                                &:not(:first-child){
                                    border-left: 0;
                                    margin-left: 0;
                                    padding-left: 0;
                                }
                            }
                        }
                    }
                }
                .author{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .perfil{
                        margin: 0 0 30px 0;
                    }
                    .text{
                        .social{
                            display: flex;
                            flex-direction: column;
                            p{
                                margin: 20px 0 0 0;
                            }
                        }
                    }
                }
            }
            .free-content{
                max-width: 100%;
            }
        }
    }
}