details{
    width: 800px;
    min-height: 80px;
    background: #F6F6F8;
    padding: 25px 35px;
    transition: transform .1s;
    cursor: pointer;
    &:not(:first-child){
        margin-top: 25px;
    }

    summary{
        display: flex;
        align-items: center;
        justify-content: space-between;
        h5{
            padding-right: 25px;
        }
    }
    p{
        margin-top: 10px;
    }
    ul{
        padding-top: 10px;
        li{
            margin-bottom: 5px;
        }
    }

    @media (max-width: 991px){
        width: 100%;
    }
}
details[open]{
    img{
        transform: rotate(180deg);
        transition: transform .1s;
    }
}
details > summary::-webkit-details-marker {
    display: none;
}
details > summary {
    list-style: none;
}

.line{
    border: 1px solid rgba(255, 255, 255, 0.3);
}

// Estilos do modal
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}
  
.modal-video {
    display: block;
    margin: auto;
    margin-top: 80px;
    width: 70%;
    height: 80%;

    @media (max-width: 991px){
        width: 78%;
        height: 50%;
    }
    @media (max-width: 576px){
        margin-top: 200px;
        width: 80%;
        height: 30%;
    }
}
  
.modal-fechar {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
  
// Estilos do botão
.botao {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

//Post de Blog
.card-post-lg{
    display: block;
    width: 100%;
    max-width: 696px;
    
    .image{
        width: 100%;
        height: 320px;
        border-radius: 13px;
        overflow: hidden;
        margin-bottom: 25px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease;
            &:hover{
                transform: scale(1.05);
            }
        }
    }
    h4{
        margin-top: 4px;
    }
    @media (max-width: 576px){
        .image{
            width: 100%;
            height: 250px;
        }
    }
}

.card-post-xs{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 488px;
    .image{
        width: 176px;
        height: 100px;
        border-radius: 6px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    .info{
        flex: 1;
        margin-left: 32px;
        h5{
            margin-top: 5px;
        }
    }
    @media (max-width: 991px){
        display: flex;
        flex-direction: column;
        justify-content: start;
        .image{
            width: 100%;
            height: 150px;
        }
        .info{
            margin: 15px 0 0 0;
        }
    }
    @media (max-width: 576px){
        display: flex;
        flex-direction: column;
        .image{
            width: 100%;
            height: 250px;
        }
        .info{
            margin: 15px 0;
            h5{
                font-size: 22px;
            }
        }
    }
}

.card-post-default{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 904px;
    padding: 30px 0;
    border-bottom: 1px solid #DBDBDB;
    .image{
        width: 280px;
        height: 175px;
        border-radius: 10px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease;
            &:hover{
                transform: scale(1.05);
            }
        }
    }
    .info{
        flex: 1;
        margin-left: 32px;
        h4{
            margin: 4px 0 2px 0;
        }
        ul{
            display: flex;
            flex-direction: row;
            margin-top: 12px;
            li{
                color: #605E70;
                .icon{
                    margin-right: 5px;
                }
                span{
                    font-weight: 700;
                }
                &:not(:first-child){
                    margin-left: 16px;
                    padding-left: 15px;
                    border-left: 1px solid #E3E3E3;
                }
            }
        }
    }
    @media (max-width: 576px){
        flex-direction: column;
        .image{
            width: 100%;
            height: 250px;
        }
        .info{
            margin: 20px 0 0 5px;
        }
    }
}

//Conteúdo gratúito
.free-content{
    h3{
        margin-bottom: 25px;
    }
    .all{
        .card-free-content{
            display: block;
            max-width: 280px;
            height: auto;
            border-radius: 15px;
            overflow: hidden;
            margin-bottom: 15px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.3s ease;
                &:hover{
                    transform: scale(1.05);
                }
            }
        }
    }
    @media (max-width: 1250px){
        h3{
            margin-top: 30px;
        }
        .all{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
    @media (max-width: 576px){
        display: flex;
        flex-direction: column;
        text-align: center;
        .all{
            display: flex;
            flex-direction: column;
            .card-free-content{
                max-width: 100%;
                height: auto;
            }
        }
    }
}

.newsletter{
    margin: 40px auto 60px auto;
    width: 100%;
    height: 192px;
    max-width: 1216px;
    background: linear-gradient(88.6deg, #101116 -0.96%, #282930 101.32%);
    border-radius: 20px;
    color: $white;
    padding: 0 70px;
    display: flex;
    align-items: center;
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .image{
            img{
                width: 126px;
                height: auto;
            }
        }
        .text{
            max-width: 380px;
            h4{
                margin-bottom: 5px;
            }
        }
        form{
            display: flex;
            flex-direction: row;
            input{
                width: 325px;
                height: 42px;
                padding-left: 25px;
                border-radius: 5px;
                margin-right: 12px;
            }
            input::placeholder{
                font-family: 'Inter';
                font-weight: 400;
                font-size: 15px;
                line-height: 22px;
            }
        }
    }
    @media (max-width: 1220px){
        width: 92%;
        .container{
            .image{
                display: none;
            }
        }
    }
    @media (max-width: 1060px){
        height: auto;
        padding: 50px 0;
        text-align: center;
        .container{
            display: flex;
            flex-direction: column;
            .image{
                display: block;
            }
            .text{
                margin: 30px 0;
            }
        }
    }
    @media (max-width: 576px){
        .container{
            flex-direction: column;
            .text{
                margin: 40px 0;
            }
            form{
                display: flex;
                flex-direction: column;
                input{
                    margin: 0 0 15px 0;
                }
                
            }
        }
    }
}

.author{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    padding: 30px 0 20px 0;
    border-top: 1px solid #DBDBDB;
    .perfil{
        margin-right: 35px;
        img{
            width: 200px;
            height: auto;
            border-radius: 50%;
        }
    }
    .text{
        h4{
            color: $orange;
        }
        .tag{
            font-family: 'Inter';
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            padding: 5px 15px;
            background-color: #F7F7F9;
            color: #6F7385;
            display: inline-block;
            margin: 8px 0;
        }
        .social{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 15px;
            ul{
                display: flex;
                flex-direction: row;
                li{
                    width: 40px;
                    height: 40px;
                    background-color: #F7F7F9;
                    font-size: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    i{
                        color: #6F7385;
                        &:hover{
                            color: $orange;
                        }
                    }
                    &:not(:first-child){
                        margin-left: 15px;
                    }
                }
            }
        }
    }
    @media (max-width: 1250px){
        .perfil{
            display: block;
        }
    }
    @media (max-width: 576px){
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .perfil{
            margin: 0 0 30px 0;
        }
        .text{
            .social{
                display: flex;
                flex-direction: column;
                p{
                    margin: 20px 0 0 0;
                }
            }
        }
    }
}