header{
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    padding-top: 20px;
    .container{
        display: flex;
        justify-content: space-between;

        nav{
            display: flex;
            justify-content: center;
            align-items: center;
            ul{
                display: flex;
                flex-direction: row;
                align-items: center;
                li{
                    margin-right: 40px;
                    a{
                        color: $white;
                        &:hover{
                            color: $orange;
                        }
                    }
                }
            }
            .btns{
                .btn{
                    padding: 8px 20px;
                    font-family: 'Inter';
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 22px;
                }
                .btn-outline-primary{
                    margin-left: 30px;
                }
            }
            .btn-mobile{
                display: none;
                i{
                    font-size: 25px;
                    color: $white;
                }
            }
        }
    }
    @media (max-width: 991px){
        .container{
            nav{
                ul{
                    display: none;
                }
                .btns{
                    display: none;
                }
                .btn-mobile{
                    display: block;
                    i{
                        font-size: 20px;
                        color: $white;
                    }
                }
            }
        }
    }
}
.menu-blog{
    position: static;
    height: 85px;
    border-bottom: 1px solid #E6E6E6;
    .container{
        nav{
            ul{
                li{
                    a{
                        color: $black;
                    }
                }
            }  
            .icons{
                display: flex;
                flex-direction: row;
                padding-left: 30px;
                border-left: 1px solid #D2D2D2;
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 32px;
                    height: 32px;
                    background-color: $orange;
                    border-radius: 50%;
                    i{
                        font-size: 15px;
                        color: $white;
                    }
                    &:not(:first-child){
                        margin-left: 12px;
                    }
                }
            }
        }
    }
    @media (max-width: 991px){
        .container{
            nav{
                ul{
                    display: none;
                }
                .icons{
                    display: none;
                }
                .btn-mobile{
                    display: block;
                    i{
                        font-size: 20px;
                        color: $orange;
                    }
                }
            }
        }
    }
}

.menu-mobile{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 0;
    }
    aside{
        position: fixed;
        top: 0;
        left: 0;
        width: 75%;
        height: 100%;
        background-color: $black;
        padding: 30px;
        transform: translateX(-100%);
        transition: transform .3s;
        .logo{
            max-width: 150px;
            margin-bottom: 40px;
        }
        ul{
            padding: 20px 0;
            li{
                a{
                    padding: 10px 0;
                    display: block;
                    font-size: 16px;
                    color: $white;
                }
            }
        }
        .btns{
            a{
                .btn-outline-primary{
                    margin-top: 20px;
                }                                                                                          
            }
        }
    }
}
.menu-opened{
    .menu-mobile{
        opacity: 1;
        pointer-events: all;
        aside{
            transform: translateX(0%);
        }
    }
}