.internas{
    header{
        background: url('../img/banner.svg');
        height: 80px;
    }
    .inicio{
        margin-top: 100px;
        margin-bottom: 40px;
        h3{
            margin: 20px 0 5px 0;
        }
        h5{
            margin: 15px 0 5px 0;
        }
    }
}