h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins';
    font-weight: 700;
    line-height: 135%;
}
h1{
    font-size: 35px;
}
h2{
    font-size: 28px;
}
h3{
    font-size: 25px;
}
h4{
    font-size: 22px;
}
h5{
    font-size: 18px;
}
h6{
    font-size: 16px;
}
p, li{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}
.title{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    text-transform: uppercase;
    color: $orange;
}
a{
    color: $black;
}